<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"


       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="org.postgresql.Driver" />
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/tpartner_se" />
        <property name="user" value="postgres" />
        <property name="password" value="paloma" />

        <property name="maxPoolSize" value="50" />
        <property name="minPoolSize" value="10" />
        <property name="maxStatements" value="100" />
        <property name="testConnectionOnCheckout" value="true" />
    </bean> 
        
    <bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>br.com.tpartner.persistence.model.Client</value>
                <value>br.com.tpartner.persistence.model.Action</value>
                <value>br.com.tpartner.persistence.model.AccessSession</value>
                <value>br.com.tpartner.persistence.model.Student</value>
            </list>

        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
        
    <bean id="clientCRUD" class="br.com.tpartner.persistence.crud.implementation.ClientCRUDImplementation">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="actionCRUD" class="br.com.tpartner.persistence.crud.implementation.ActionCRUDImplementation">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="accessSessionCRUD" class="br.com.tpartner.persistence.crud.implementation.AccessSessionCRUDImplementation">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
        
    <bean id="studentCRUD" class="br.com.tpartner.persistence.crud.implementation.StudentCRUDImplementation">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>

    <bean id="actionController" class="br.com.tpartner.services.controller.ActionController"/>
    <bean id="accessSessionController" class="br.com.tpartner.services.controller.AccessSessionController"/>
    <bean id="studentController" class="br.com.tpartner.services.controller.StudentController"/>

    <mvc:annotation-driven />
	
    <context:annotation-config />
	 
    <context:component-scan base-package="br.com.tpartner.services.webservice"/>

</beans>
