<div ng-controller="SummaryController">
	<h2>Summary</h2>
    <form>
        <input ng-model="requestData.studentId" type="number" ngMinlength="1" ngRequired="true" required />
        <input ng-model="requestData.dateStart" type="date" placeholder="dd-MM-yyyy" min="2000-01-01" max="{{requestData.dateEnd | date: yyyy-MM-dd}}" ngRequired="true" required />
        <input ng-model="requestData.dateEnd" type="date" placeholder="dd-MM-yyyy" min="{{requestData.dateStart | date: yyyy-MM-dd}}" max="2099-12-31" ngRequired="true" required />
        <input type="submit" ng-click="requestSummary(requestData)" value="Go" />
    </form>
    <div ng-show="totalSummaryData != undefined">
        <div>
            <div>
                <span><strong>Total:</strong></span>
            </div>
            <span ng-show="totalSummaryData.studentActionsTotal == 0">nothing</span>
            <span ng-show="totalSummaryData.studentActionsTotal != 0">
                Questions hits: {{ totalSummaryData.hitsTotal }} <br />
                Questions fails: {{ totalSummaryData.failsTotal }} <br />
                Problem solving tries: {{ totalSummaryData.problemsTriedTotal }} <br />
                Tries per problem: {{ totalSummaryData.triesPerProblem | number : 1 }} <br />
                Tries to hit: {{ totalSummaryData.triesToHitAverage | number : 1 }} <br />
                Problems repeated: {{ totalSummaryData.problemsRepeated }} <br />
                Time solving problems: {{ totalSummaryData.problemSolvingTotalTime | milliSecondsToTimeString }} <br />
                Time per problem: {{ totalSummaryData.problemSolvingAverageTime | milliSecondsToTimeString }} <br />
                Contents viewed: {{ totalSummaryData.contentsViewedTotal }} <br />
                Contents repeated: {{ totalSummaryData.contentsRepeated }} <br />
                Views per content: {{ totalSummaryData.viewsPerContent | number : 1 }} <br />
                Time viewing contents: {{ totalSummaryData.contentViewTotalTime | milliSecondsToTimeString }} <br />
                Time per content: {{ totalSummaryData.contentViewAverageTime | milliSecondsToTimeString }} <br />
                New levels reached: {{ totalSummaryData.newLevelsReached }} <br />
                Last level reached: {{ totalSummaryData.lastLevelReached.replace('http://meututor.com.br/Ontologies/MeuTutor.Gamification.Instances.owl#Level_', 'level ') }} <br />
                Dummy tests questions done: {{ totalSummaryData.dummyTestQuestionsDone }} <br />
                Learning goals reached: <a href="" ng-click="showLearningGoals(totalSummaryData.learningGoalsReachedTrackedJson)"> {{ totalSummaryData.learningGoalsReachedTotal }} </a> <br />
                Actions: {{ totalSummaryData.studentActionsTotal }} <br />
                Access: {{ totalSummaryData.subSessionsTotal }} <br />
                Actions per access: {{ totalSummaryData.actionsPerSubSessionAverage | number : 1 }} <br />
            </span>
        </div>
        <div ng-repeat="summaryDataField in summaryData | orderBy: 'timeStart'">
            <hr />
            <div>
                <span ng-show="summaryInterval == 'day'">Day: </span>
                <span ng-show="summaryInterval == 'week'">Week: </span>
                <span ng-show="summaryInterval == 'month'">Month: </span>
                <strong>{{ summaryDataField.timeStart | date: 'fullDate' }}</strong>
            </div>
            <span ng-show="summaryDataField.studentActionsTotal == 0">nothing</span>
            <span ng-show="summaryDataField.studentActionsTotal != 0">
                Questions hits: {{ summaryDataField.hitsTotal }} <br />
                Questions fails: {{ summaryDataField.failsTotal }} <br />
                Problem solving tries: {{ summaryDataField.problemsTriedTotal }} <br />
                Tries per problem: {{ summaryDataField.triesPerProblem | number : 1 }} <br />
                Tries to hit: {{ summaryDataField.triesToHitAverage | number : 1 }} <br />
                Problems repeated: {{ summaryDataField.problemsRepeated }} <br />
                Time solving problems: {{ summaryDataField.problemSolvingTotalTime | milliSecondsToTimeString }} <br />
                Time per problem: {{ summaryDataField.problemSolvingAverageTime | milliSecondsToTimeString }} <br />
                Contents viewed: {{ summaryDataField.contentsViewedTotal }} <br />
                Contents repeated: {{ summaryDataField.contentsRepeated }} <br />
                Views per content: {{ summaryDataField.viewsPerContent | number : 1 }} <br />
                Time viewing contents: {{ summaryDataField.contentViewTotalTime | milliSecondsToTimeString }} <br />
                Time per content: {{ summaryDataField.contentViewAverageTime | milliSecondsToTimeString }} <br />
                New levels reached: {{ summaryDataField.newLevelsReached }} <br />
                Last level reached: {{ summaryDataField.lastLevelReached.replace('http://meututor.com.br/Ontologies/MeuTutor.Gamification.Instances.owl#Level_', 'level ') }} <br />
                Dummy tests questions done: {{ summaryDataField.dummyTestQuestionsDone }} <br />
                Learning goals reached: {{ summaryDataField.learningGoalsReachedTotal }} <br />
                Actions: {{ summaryDataField.studentActionsTotal }} <br />
                Access: {{ summaryDataField.subSessionsTotal }} <br />
                Actions per access: {{ summaryDataField.actionsPerSubSessionAverage | number : 1 }}
            </span>
        </div>
    </div>
</div>
